extends layout

block content
  div#sand-blocker
  div.navbar.navbar-fixed-top#nav
      div.navbar-inner
        div.container
            a(href='#top').scrollpage 
              div.brand1.pull-right
            ul.nav
              li
                a(href='#philosophie').scrollpage Philosophie
              li 
                a(href='#produits').scrollpage Produits
              li 
                a(href='#artisane').scrollpage Artisane Savonnière
  div#block-2.row
    div#green-blocker
    div.span3
      div.brand2.pull-right
    div.span6
      div.page-header
        h1#philosophie Philosophie
      p.
        Les savons commerciaux sont fabriqués par réaction de saponification à partir de mélange de corps gras, triester de glycérol et d'acides gras, appelé couramment triglycérides d'acides gras et d'une base forte. Les molécules des savons communs comportent une chaîne de 8 à 19 atomes de carbone, selon les variétés, associée à une tête polaire.
      p.
        Depuis 1950, les savons tendent à être distingués des autres molécules détergentes. Toutefois, le langage familier des laboratoires et usines assimile par commodité savon (soap), détergent (detergent) ou tensio-actif (surfactant). Ces derniers produits souvent pétrochimiques diffèrent plus par leurs compositions, conformations caractéristiques et propriétés d'usage que par les mécanismes évoqués ci-dessous.
      
  div#block-3.row
    div.span3
      div.brand3.pull-right
    div.span6
      div.page-header.pink
        h1#produits Les produits
      p.
        Les savons se présentent sous des formes variées, selon leur teneur en eau, la présence de corps gras ou d'autres impuretés. Secs, ils forment des solides cassants. Humides ou gorgés d'eau, ces solides encore fermes glissent sur les surfaces, deviennent mous, voire perdent toute tenue dimensionnelle en déliquescence finale. Ces observations communes attestent leur nature de colloïdes, ainsi que leurs autres formes de mousses, de gels...
      p.
        Les savons, précisément les sels d'acides gras, ne sont en réalité pas solubles dans l'eau et dans l'huile, mais amphiphiles, c'est-à-dire qu'ils se placent à l'interface des phases eau et huile non miscibles. En absence d'une des phases, ils forment des structures moléculaires singulières, appelées micelles dans l'eau et micelles inverses dans l'huile. Si la proportion des phases change jusqu'à une teneur volumique équivalente, des structures de phases, appelées états mésomorphes, s'organisent, caractérisées par une morphologie topologique en gouttelettes, puis en cylindres et enfin en planches parallèles. Au-delà de l'inversion de phase, on retrouve des organisations similaires.
    div.span3

  div#block-4.row
    div.span3
      div.brand4.pull-right
    div.span6
      div.page-header
        h1#artisane Artisane Savonniere
      p.
        Les savons se présentent sous des formes variées, selon leur teneur en eau, la présence de corps gras ou d'autres impuretés. Secs, ils forment des solides cassants. Humides ou gorgés d'eau, ces solides encore fermes glissent sur les surfaces, deviennent mous, voire perdent toute tenue dimensionnelle en déliquescence finale. Ces observations communes attestent leur nature de colloïdes, ainsi que leurs autres formes de mousses, de gels...
      p.
        Les savons, précisément les sels d'acides gras, ne sont en réalité pas solubles dans l'eau et dans l'huile, mais amphiphiles, c'est-à-dire qu'ils se placent à l'interface des phases eau et huile non miscibles. En absence d'une des phases, ils forment des structures moléculaires singulières, appelées micelles dans l'eau et micelles inverses dans l'huile. Si la proportion des phases change jusqu'à une teneur volumique équivalente, des structures de phases, appelées états mésomorphes, s'organisent, caractérisées par une morphologie topologique en gouttelettes, puis en cylindres et enfin en planches parallèles. Au-delà de l'inversion de phase, on retrouve des organisations similaires.

  div#block-5.row
    div.span3
      div.brand5.pull-right
    div.span6
      div.page-header
        h1#origines Origines
      p.
        Les savons se présentent sous des formes variées, selon leur teneur en eau, la présence de corps gras ou d'autres impuretés. Secs, ils forment des solides cassants. Humides ou gorgés d'eau, ces solides encore fermes glissent sur les surfaces, deviennent mous, voire perdent toute tenue dimensionnelle en déliquescence finale. Ces observations communes attestent leur nature de colloïdes, ainsi que leurs autres formes de mousses, de gels...
      p.
        Les savons, précisément les sels d'acides gras, ne sont en réalité pas solubles dans l'eau et dans l'huile, mais amphiphiles, c'est-à-dire qu'ils se placent à l'interface des phases eau et huile non miscibles. En absence d'une des phases, ils forment des structures moléculaires singulières, appelées micelles dans l'eau et micelles inverses dans l'huile. Si la proportion des phases change jusqu'à une teneur volumique équivalente, des structures de phases, appelées états mésomorphes, s'organisent, caractérisées par une morphologie topologique en gouttelettes, puis en cylindres et enfin en planches parallèles. Au-delà de l'inversion de phase, on retrouve des organisations similaires.

    