doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/javascripts/rosekaki.js')
  body#top
    div#block-1.block
      div#sand-blocker
      div.logo-box
        a(href="#philosophie").scrollpage
          div.logo#logo
      div.logo-box
        div#logo-sub
      div.logo-box
         a(href="#philosophie").scrollpage
          div#logo-sub-sub

    div.container
      block content